// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3; //#ec663c;

$title-color:       rgba(255, 255, 255, 1);
$subtitle-color:    rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-calendar styles
// ----------------------------------------------------------------------------
.widget-google-calendar {

  .calendar-inner {
    padding: 10px 30px;
  }

  background-color: $background-color;

  .subtitle {
    color: $subtitle-color;
    font-size: 1em;
    margin: 15px 0;
  }

  .title {
    color: $title-color;
    font-size: 1.2em;
  }

  .times {
    font-size: 1.1em;
  }

  .next {
    margin-top: 20px;

    tr {
      // border-bottom: 1px solid $subtitle-color;
      td {
        // text-align: left;
      }
    }
  }
  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $subtitle-color;
    bottom: 5px;
    right: 5px;
    left: auto;
    font-size: 0.7em;
  }


  &.large h3 {
    font-size: 65px;
  }
}
